

/* Folk Cards */
.folk-container {
    padding: 0 10% 80px;
    display: grid;
    gap: 50px;
}

.folk-card {
    background-color: #1A1A1A;
    padding: 40px;
    border-left: 5px solid #00F5FF;
    transition: 0.4s ease;
}

.folk-card:hover {
    transform: translateY(-10px);
    border-left: 5px solid #FF007F;
    box-shadow: 0 0 25px rgba(0,245,255,0.2);
}

.folk-card h2 {
    font-family: 'Bebas Neue', sans-serif;
    color: #FF007F;
    font-size: 32px;
}

.folk-card h3 {
    font-family: 'Oswald', sans-serif;
    color: #FFAC1C;
    margin-top: 25px;
    font-size: 18px;
}

.folk-card p {
    line-height: 1.8;
    font-size: 15px;
}
.art-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
}